<!DOCTYPE html>
<html>
  <body>
    <h1>Posts</h1>
    <% @articles.each do |article| %>
<<<<<<< HEAD
    <h2><%= article.id %>. <%= article.title %></h2>
=======
    <h2><%= article.title %></h2>
>>>>>>> 5153cf316a9367488ed92a9fe89a0ff5480bf61d
    <p><%= article.content %></p>
    <br>
    <br>
    <% end %>
  </body>
</html>